/* My-Breadcrumb section start */
.breadcrumb {
    background-color: #e9ecef;
    padding: 7px 17px;
    border-radius: 7px;
}
/* carousel Section    start */
.carousel-item img{
    height: 555px;
    width: auto;
}
/* progress/collaps section   start */
.progress{
    margin: 11px 0;
}